{% extends 'DashboardTemplate.html.twig' %}

{% block title %}
    Pet
{% endblock %}

{% block pageTitle %}
    Pets details
{% endblock %}

{% block body %}
    <div class="row">
        {% for pet in pets %}
            <div class="col-3 card">
                <div class="card-body">
                    <h2 class="card-title">{{ pet.name }}</h2>
                    <p class="card-subtitle">{{ pet.race }}</p>
                    <p class="card-text">{{ pet.id }}</p>
                    <p class="card-text">{{ pet.ageage  }}</p>
                    <a href="{{ path('pet_detail',{id:pet.id} ) }}" class="card-link">Details</a>
                    <a href="{{ path('pets.delete',{id:pet.id} ) }}" class="card-link">Delete</a>
                </div>
            </div>
        {% endfor %}
    </div>
    {% if isPaginated %}
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% if page != 1 %}
                    <li class="page-item"><a class="page-link" href="{{ path('pet.list.alls',{page:page -1,nbre:nbre}) }}">Previous</a>
                    </li>
                {% endif %}
                {% for i in range(1,nbPages) %}
                    <li class="page-item"><a class="page-link"
                                             href="{{ path('pet.list.alls',{page:i,nbre:nbre}) }}">{{ i }}</a></li>
                {% endfor %}
                {% if page != nbPages %}
                    <li class="page-item"><a class="page-link"
                                             href="{{ path('pet.list.alls',{page:page + 1,nbre:nbre}) }}">Next</a>
                    </li>
                {% endif %}

            </ul>
        </nav>
    {% endif %}
{% endblock %}
